

<div id="Review">
    <div id="HeaderReview">
      <div class="containerReview">
        <div class="itemReview pt-3">
          <img class="rounded-circle " src="~/Assets/standardPFP.jpg" alt="Rounded Image" style="width: 120px;">
        </div>
        <div class="itemReview pt-2">
          <ul class="list-unstyled">
            <li class="font-blue h3">Name's review</li>
            <li class="font-blue">&lt;title&gt;</li>
            <li class="font-blue">&lt;published&gt;</li>
          </ul>
        </div>
        <div class="itemRateReview itemReview pr-1">
          <img class="BB" width="20" height="20" src="~/Assets/bluberi.png" alt="Image 1" onclick="imageClick(1)">
          <img class="BB" width="20" height="20" src="~/Assets/bluberi.png" alt="Image 2" onclick="imageClick(2)">
          <img class="BB" width="20" height="20" src="~/Assets/bluberi.png" alt="Image 3" onclick="imageClick(3)">
          <img class="BB" width="20" height="20" src="~/Assets/bluberi.png" alt="Image 4" onclick="imageClick(4)">
          <img class="BB" width="20" height="20" src="~/Assets/bluberi.png" alt="Image 5" onclick="imageClick(5)">
          <img class="pt-1 pr-3" height="120" width="90" src="~/Assets/twitter.png" alt="Series 3">
        </div>
      </div>
    </div>
    <div class="reviewBox">
      <a class="font-blue">text</a>
    </div>
  </div>

